/* 
Description: Contains the styling for the Site Branding
Title: Portfolio Website for Web Technologies Projects
Author: Danica Yap 
Email: danica.yap@student.curtin.edu.au
Tags: Website, Branding, Colour Palette */


/* === CSS variables ===*/

/*import sans Pro with multiple font weights and styles*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');

*{ /*the universal selector that targets every elements on the web page*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

/* Setting global CSS variables for the entire page*/
:root {
  --bg-color: rgba(4, 66, 82, 0.961);
  --text-color: #f8f8f8;
  --main-color: #beecf0;
  --white-color: #fefefe;
  --shadow-color: rgba(0, 0, 0, .2);
  --second-bg-color: #99cabf;
}


/* sets the default size for the HTML document 
  and also hides the document that would overflow the horizontal axist of the viewport*/
html {
  font-size: 62.5%; 
  overflow-x: hidden;
}

/*body styling*/
body { 
  background: var(--bg-color); 
  color: var(--text-color);
  /*background-image: url('danicaclarize/portfoliowebsite/images/Black Minimalist Modern AI Robot Presentation.png') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;*/
  /*margin: 0;  
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: blanchedalmond;*/
/*margin: 0;  
padding: 0;
font-family: Helvetica, sans-serif;
background-color: blanchedalmond;* --- previous body design----*/
}


/* Snippet style for the HTML*/
section {
  min-height: 100vh; /* setting the minimum height of the element of the viewport height*/
  padding: 10rem 9% 2rem; /* padding sets to 10 times the font size of the root element 
  and the right and left padding to 9% of the width and the bottom padding to 2 times of the root element*/
}


/*--------------header styling-----------------*/
.header {
  position: fixed;
  top: 0; /* there is 0 distance from the top edge of the screen*/
  left: 0;/* there is 0 distance from the left edge of the screen*/
  width: 100%;
  padding: 2rem 9%; 
  background: var(--bg-color); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* positioning the header on top of all the elements*/
}

/* style for the element with the class "logo" */
.logo {
  font-size: 2.5rem;
  color: var(--white-color-color);
  font-weight: 600;
  cursor: default;

}

/* style for the element with the class navbar link */
.nav-menu a {
  font-size: 1.7rem;
  color: var(--white-color);
  margin-left: 4rem;
  transition:.3s; /* property duration timing - ChatGPT*/
}

/* sets the color anchor links when hover over */
.nav-menu a:hover,
.nav-menu a.active { /*targets anchor links*/
  color: var(--main-color); 

}
/* style for the element with the ID "menu-icon" */
#menu-icon {
  color: var(--white-color);
  position: fixed;
  font-size: 20px;
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  z-index: 999;
  top: 2rem; /* add top property to position it vertically in the middle of the header */
  right: 2rem; /* change from 0 to 2rem to add some space from the right edge of the screen */
  display: block; /* add display: block to override the display: none property in media query */
}

/*------- Mobile view-------- */
@media only screen and (max-width: 1200px){
  html {
    font-size:55%;
  }
}
@media (max-width: 991px) {


  .header {
    lpadding: 2rem 3%
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
    right: 0;
  }
@media (min-width: 769px) {
    #menu-icon {
      display: none;
    }
  }  
  .nav-menu {
    position: relative;
    top: 100%;
    right: 0;
    width:100%;
    padding: 1 rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
    display: none;
  }

  .nav-menu.active {
    display: block;
  }


  .nav-menu a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
}
/*------- Mobile View End-------- */

/*--------------Header End--------------------*/



/*-------Create center layout for the home element------*/
.home {
  position: relative;
  right:0;
  width:100%;
  min-height: 100vh;
  padding: 100px;
  display: flex; /*sets display property to the element flex*/
  justify-content: space-between; /* sets in the flex container*/
  align-items: center; /*aligns flex items along the vertical axis by default to the center of the flex container */
  background: #111
  /*z-index: 2;*/
}

/*Position the element over the video background*/
.home-content {
  position: relative; /* positioning the element in its normal position*/
  z-index:10; /* sets the stacking over the video*/
}

/*Position the element over the video background*/
.home-image {
  position: relative; /* positioning the element in its normal position*/
  z-index:10; /* sets the stacking over the video*/
  
 
}


/*sets image vieport width for the element img under home-img class*/
.home-img img {
  width:35vw;
}


/*Selects all  'h3' elements that are children of the class 'home-content'*/
.home-content h3 {
  font-weight: 600px; /* sets the text to bold*/
  font-size: 2.5rem; /* based on the font size of the root element which is the html*/
}


/*target the second h3 element that has the class home-content*/
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;

}


/*design and positioning of the video background*/
.home video {
  position: absolute; /* used as a full screen background*/
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3; /* sets the desired opacity of the video*/
}

.overlay {
  position: absolute; /* used as a full screen background*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  mix-blend-mode: overlay;
}

.slow-motion {
  animation: slowmotion 1s ease-in-out;
}/* (ChatGPT, generative AI output, April 13, 2023).*/


@keyframes slowmotion {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.5);
  }
} /* (ChatGPT, generative AI output, April 13, 2023).*/


/*applies different color to the block*/
span {
  color: var(--main-color);
}


/*Selects all 'h1' elements that are children of the class 'home-content'*/
.home-content h1 {
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 2rem;
}

/*Sets the paragraph elements that are children of home-content*/
.home-content p {
  font-style: italic;
  font-size: 1.8rem;
  margin-bottom: 2rem;

}


/* targets the anchor elements within  
the element with a class social-media adn sets the properties for the elemenst*/
.social-media a {
  display: inline-flex; /* sets the flex container with a single row*/
  justify-content: center;
  align-items: center; /*center the element horizontally*/
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color); /*sets border around the element with 
  the thickness of.2rem with a solid line using the main color*/
  border-radius : 50%;
  font-size: 2rem; /*sets font size of social media links to 2 rem.*/
  color: var(--main-color); /*sets text colour within the links*/
  margin: 3rem 1.5rem 3rem 0;
  transition: .3s ease;
}



/*added hover effects to social media links (Halid 2023)*/
.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  margin: 20px;
}



/* ------****** Home Elements End****** -------*/


/*------****** This is the about me section *******-----*/
#about {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content:center;
  align-items:center;

}


.about_container{
  width:100%;
  padding:50px 8%;
}

.aboutmeImage{
  grid-area: imageSect;
  border: 1px solid white;
  box-shadow: 0 0 1rem var(--main-color);
  background-color: #3699ad;
  border-radius: 15px;


}

.aboutInfo{
  grid-area: infoSect;
  border: 1px solid white;
  background-color: #3699ad;
  box-shadow: 0 0 1rem var(--main-color);
  border-radius: 15px;
}

.skillSec {
  grid-area: skillSect;
}

.about_container .about_contents{
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 30px;
  grid-template-areas: 'imageSect infoSect'
                        'skillSect skillSect';
}

.about_contents .aboutmeImage{
  position: relative;
  min: width 300px;
  height: 380px;

}

.aboutmeImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
  
}

.about_contents.aboutmeImage ::after {
  position: absolute;
  content:'';
  width: 50%;
  height: 50%;
  outline: 3px solid #08352b;
  top: 15px;
  left: 15px;
  position:relative;
  z-index: 1;
  
}

.aboutInfo h1 {
  color: #dedce1;
  font-size: 30px;
  margin-bottom: 5px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 5px;
  position: relative;

}

.aboutInfo h1::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 110%;
  left: 0;
  background-color: var(--main-color);
}

.aboutInfo h1::after{
  content:'';
  position: absolute;
  width: 40%;
  height: 3px;
  top: calc(110% - 1px);
  left: 0 px;
  background-color: #2c7a69;

}

.aboutInfo h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color:var(--text-color);
  padding: 14px 0px 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-top: 10px;

}


.aboutInfo h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color:var(--text-color);
  padding: 5px 0px 15px;
  text-transform: capitalize;
  letter-spacing: 1px;

}

.aboutInfo p{
  color:var(--white-color);
  font-size: 18px;
  line-height: 1.2;
  text-align: justify;
  padding-bottom: 8px;

}

.personalInfo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 20px;
  margin-top: 14px;
  padding-bottom:10px;
  border-bottom: 1.2px solid #beecf0;
  font-size: 10px;
}

.personalInfo div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.personalInfo div span{
  color: var(--second-bg-color);
  line-spacing: 1px;
}

/*style the button (Halid 2023)*/
.button {
  display: inline-block;
  padding: 1rem 2.5rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-weight: 700;
  margin-top: 20px;
  transition: .5s ease;
  color: var(--bg-color)
}

.button hover {
  box-shadow: none;
}

/* ====== ******* Skills Section *******======*/

.skillSec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px 75px;
}

.skillSec .experience{
  font-size: 18px;
  font-weight: bold;
  color: var(--white-color);
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.prog_bars {
  width: 100%;
  height: 16px;
  background: #80d0d8;
  padding: 4px 6px;
  border-top: 1px solid #10eebe;
  border-bottom: 1px solid #444;
  border-radius: 15px;


}




/*.about-content h3 {
  font-size: 3.5rem;
  padding-top: 30px;
}

.about-content p {
  font-size: 1.5rem;
  padding-top: 5px;
}

.about-content {
  position: relative;
  margin: 5px;
  padding:5px;
  width: 250px;
  height:250px;
  border-color: var(--main-color);
  background: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--white-color);
  text-align: center;
  cursor: pointer;
  z-index:10;
}

#work-experience {
  float:center;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.container a {
  font-weight: 600;
}*/





/* This was the first design I did and I have to change it to a different one.
background-color:rgb(4, 54, 36);
background-size: cover;
color:blanchedalmond;
padding: 20px;
text-align: center;
gap: 1em;*/


/*.navbar a.active: :before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: .2rem;
  background-colour: white;

}

/* 11/04/23 trying to edit navigation bar*/

/*.heading1
  color:rgba(5, 74, 19, 0.969)
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 20px;
  text-shadow: #FC0 1px 0 10px; /*https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow
  
  .heading2 {
  color:rgba(5, 74, 19, 0.969)
  font-size: smaller;
  font-weight: 150;
  margin-top: 20px;
  margin-bottom: 20px;
}

header a {
  border: 2px solid blanchedalmond;
  border-radius: 10px 100px / 120px; https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius
  background-color: blanchedalmond; 
  padding: 1em 2em;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

header a:hover {
  background: grey;
  color: white;
}



/* Reference 
Halid. 2023. "Build a Complete Responsive Personal Portfolio Website using HTML CSS Javascript"