/* 
Description: Contains the styling for the Site Branding
Title: Portfolio Website for Web Technologies Projects
Author: Danica Yap 
Email: danica.yap@student.curtin.edu.au
Tags: Website, Branding, Colour Palette */

/*body styling*/
body {   
  margin: 0;  /* centers the <body> within the page */
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: blanchedalmond;
}

/*header styling*/
header {
  background-color: blanchedalmond;
  background-size: cover;
  color: rgba(5, 74, 19, 0.969);
  padding: 20px;
  text-align: center;
}

header h1 {
    color:rgba(5, 74, 19, 0.969)
    font-size 2.5em;
    font-weight: 300;
}

header a {
    border: 2px solid grey;
    border-radius: 290486px;
    color: white;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  header a:hover {
    background: grey;
    color: white;
  }
  
